@media (max-width:600px) {
   
    nav{
        height: 15vw;

        h5{   
                font-size: 4.5vw;
        }
    }
    .about{
        h2{
            font-size: 4vw;
        }
        p{
            font-size: 3vw;
            span{
            font-size: 4vw;
            }
        }
        img{
            width: 30vw;
            margin-top: 2vw;
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    
        }
    }
    .about > p{
        width: 70%;
    }
    hr{
        width: 70%;
        margin: 7vw auto;
    }
    .heding {

        h5{
            font-size: 4.5vw;
        }
        p{
            font-size: 3vw;
            margin-top: 3vw;
            
        }
    }
    .cont_icon > a> img{
        width: 10vw;
        margin: 5vw 3vw;
    
    }
    .skill_img > img{
        width: 10vw;
        margin: 5vw 1.5vw;
    }
    .form_grup > button{
        font-size: 3vw;
        margin-top: 5vw;

    }
    footer{
        height: 15vw;

        p{
            font-size: 4vw;
        }
    }
    .dark-mode-toogle i{
        margin: 5vw;
        font-size: 7vw;
    }
}
